---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a 
	href={href} 
	class:list={[
		"text-gray-600 hover:text-blue-600 font-medium transition-colors relative cursor-pointer",
		{ "text-blue-600 font-semibold": isActive },
		className
	]} 
	{...props}
>
	<slot />
	{isActive && (
		<span class="absolute -bottom-[21px] left-0 right-0 h-0.5 bg-blue-600"></span>
	)}
</a>